<div class="nav navbar-expand-lg navbar-light bg-light">
  <a class="nav-link active" href="#home">Home</a>
  <a class="nav-link" href="#rsvp">RSVP</a>
  <a class="nav-link" href="#venue">The Venue</a>
  <a class="nav-link" href="#day-of">Day Of</a>
  <a class="nav-link" href="#registry">Registry</a>
  <a class="nav-link" href="#faq">FAQ</a>
</div>
