<div class="nav navbar-expand-lg navbar-light bg-light">
  <a class="nav-link <% if (page === "home") { %>active<% } %>" href="./">Home</a>
  <a class="nav-link <% if (page === "rsvp") { %>active<% } %>" href="./rsvp">RSVP</a>
  <a class="nav-link <% if (page === "venue") { %>active<% } %>" href="./venue">The Venue</a>
  <a class="nav-link <% if (page === "day-of") { %>active<% } %>" href="./day-of">Day Of</a>
  <a class="nav-link <% if (page === "questions") { %>active<% } %>" href="./questions">Questions</a>
</div>
