.container {
  align-items: center;
  justify-content: center;
}

.invite-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60%;
}

.invitation {
  object-fit: contain;

  width: 600px;
  height: 900px;
  max-width: 80%;
}

#invite-rsvp {
  color: #eee;
}
