.container {
  align-items: center;
  justify-content: center;
}

#invite-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60%;

  padding-top: 150px;
  padding-bottom: 50px;
}

.invitation {
  object-fit: contain;

  max-width: 800px;
  max-height: 800px;
  max-width: 80%;
  box-shadow: 5px 10px 8px #0000004b;
}

#invite-rsvp {
  color: #fff;
  text-decoration: underline;
}

#invite-link {
  font-size: 2em;
  color: #c2c2c2;
  text-decoration: none;
}
