.login-background {
  background-image: url("/img/std_background_2.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.login-container {
  position: relative;
  top: 30%;
  left: 0;

  height: 200px;

  align-items: center;
  justify-content: center;
}

.login-header {
  font-size: 6em;
  // font-family: "Playfair Display", serif;
  font-family: "Pinyon Script", serif;
  margin-bottom: -32px;
  color: #fff; 
}

.login-subheader {
  font-size: 1.3em;
  max-width: 50%;

  text-align: center;
  color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.login-error {
  margin-top: 32px;
  text-align: center;
  font-size: 32px;

  color: #fca5a5;
}

.login-field {
  align-self: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Playfair Display", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 400px;

  padding: 8px 16px;
  margin-top:16px;
}

.button {
  align-self: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Playfair Display", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;

  margin-top: 16px;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
