@import "colors";

.questions-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 128px;
}

.questions-col {
    margin-top: 64px;
}

@media screen and (max-width: 800px) {
    .questions-container {
        padding: 32px;
        width: 100%;

        margin-top: 0;
    }

    .questions-col {
        margin-top: 0;
    }

    .details-row {
        align-items: center;
    
        padding: 0;
        gap: 64px;
    }

    .align-right {
        text-align: right;
    
        padding: 0;
    }

    .questions-footer {
        padding: 32px;
    }
}