<%- include('../templates/header', {page: "accomodations"}); %> <%-
include('../templates/nav', {page: "accomodations"}); %>

<div class="row header-container">
  <img src="/img/accomodations.jpg" class="header-img">
</div>

<div class="accomodations-container">
  <div class="col accomodations-col">
    <p>
      Accomodations can be booked by calling or emailing the front desk at (604)&nbsp;668&#8209;5922&nbsp;or&nbsp;<a href="mailto:info@manningpark.com">info@manningpark.com</a> any time before <b>June 23, 2024</b>. Just mention you're booking for the Lensink/Abbott wedding.
    </p>

    <p>
      In addition to hotel rooms inside Manning Park Lodge, there are cabins (sleeps 11) and chalets (sleeps 6) available for larger groups a very short walk from the reception hall. Note that the cabins and chalets all require a minimum 2 night stay.
      Camp sites are also available at the nearby Coldspring or Lightning Lake campgrounds for the adventurous.
    </p>
    <p>
      The Manning Park website has a nice little tour of each of the options, plus an overview of the resort, <a href="https://manningpark.com/weddings/">here</a>.
    </p>
    <p>
      Given the remote location, we hope you all will be able to stay the
      night with us and get home safely the following day.
    </p>
  </div>

  <h2>The Venue</h2>

  <div class="row venue-row">
    <img src="./img/venue-map.jpg" class="venue-map" id="venue-map">

    <p>
      The ceremony will be held at the end of the Lightning Lakes day use area, marked on the map above.
    </p>

    <p>
      Afterwords, the cocktail hour and reception will be held back at Manning Park Resort, in the Alpine Room, also circled in red above.
    </p>

    <p>
      Manning Park is a beautiful park, full of all sorts of hikes, and we encourage you to explore a place that's very special to us while you're there.<br>
      The <a href="https://manningpark.com/hiking/">Manning Park website</a> has a great list of trails to check out.<br>
      There are also some spectacular viewpoints and meadows up the winding road on the opposite side of the highway if driving is more your speed.
    </p>
  </div>
</div>

<div class="col questions-footer">
  <hr class="questions-hr">

  <h3>More questions?</h3>

  <p>
      Check out our <a href="./questions">frequently asked questions</a> page to hopefully answer any other questions you may have.
  </p>
</div>

<%- include('../templates/footer'); %>
