<%- include('../templates/header', {page: "home"}); %> 

<div class="row home-header">
    <img src="/img/home-header.jpg" class="home-header-img">
    <div class="home-header-banner">
        <span>Brynn<br>&<br>Brendan</span>
    </div>
</div>

<%- include('../templates/nav', {page: "home"}); %>

<div class="row home-body">
    <div class="col mobile-hidden">
        <img src="/img/home-accent-1.jpg" class="home-accent-img">
    </div>
    
    <div class="double-col home-header-text">
        <div class="row home-header-text-large">INVITE YOU TO CELEBRATE<br>THEIR MARRIAGE</div>
        <div class="row">August 4th, 2024 at 2pm</br>Manning Park, BC</div>
        <div class="row">An evening of celebration to follow</div>

        <div class="row rsvp-container">
            <a class="home-rsvp" href="./rsvp">RSVP HERE</a>
        </div>
    </div>
    
    <div class="col mobile-hidden">
        <img src="/img/home-accent-2.jpg" class="home-accent-img home-accent-img-right">
    </div>
</div>

<script type="text/javascript" src="./js/rsvp.js"></script>
<%- include('../templates/footer'); %>
