<%- include('../templates/header', {page: "home"}); %>

<body>
  <%- include('../templates/nav', {page: "home"}); %>

  <div class="container">
    <div class="invite-container">
      <img
        src="./img/invitation.png"
        alt="FILL IN INVITATION INFO HERE"
        class="invitation"
      />
    </div>

    <a id="invite-link" href="./rsvp">
      Please <em id="invite-rsvp">RSVP</em> by March 12, 2002
    </a>
  </div>
</body>

<%- include('../templates/footer'); %>
