<%- include('../templates/header', {page: "questions"}); %> <%-
include('../templates/nav', {page: "questions"}); %>

<div class="row header-container">
    <img src="/img/questions.jpg" class="header-img">
</div>

<div class="questions-container">
    <div class="col questions-col">
        <h3>Registry</h3>

        <p>
            We're thrilled that you're coming to celebrate with us — and that's the best gift of all! <br>
            However, if you'd to like to make a small contribution towards our honeymoon to help us start our newlywed life off right would be greatly appreciated.
            Alternatively, we've set up a small registry at <a href="https://www.myregistry.com/hudsons-bay-gift-registry/wedding-registry/brendan-lensink-and-brynn-abbott-/4134030">The Bay</a> to help us spruce up our place if you prefer.
        </p>
    </div>

    <div class="col questions-col" id="childcare">
        <h3>Can people under the age of 19 attend the reception?</h3>

        <p>
            We hope you'll understand our decision to make the wedding children-free, and take the opportunity to celebrate with us worry-free.<br>For folks with smaller children, we'll be organzing child care. Please reach out to Brynn or Brendan by June 1st if this is something you'd like to participate in.
        </p>
    </div>

    <div class="col questions-col">
        <h3>Dress Code</h3>

        <p>
            While it's most important to us that everyone is comfortable and feeling their best, we'll be dressed up and would love for you to be as well!<br>The wedding party will be in tan suits and champagne colored dresses.
        </p>
    </div>

    <div class="col questions-col">
        <h3>What should I expect the weather to be like?</h3>

        <p>
            Hopefully, sunny and hot! However, even though we've called ahead and requested good weather, sometimes it doesn't work out. Our ceremony will be outside, so it may be best to be prepared for a little sprinkle.
        </p>
    </div>

    <div class="col questions-col">
        <h3>Can I bring a plus one?</h3>

        <p>
            Unfortunately, we're unable to accomodate guests past the number of invitations provided to you in your <a href="./rsvp">RSVP</a>.
        </p>
    </div>

    <div class="col questions-col">
        <h3>Parking</h3>

        <p>
            Our ceremony will be held adjacent to the public day use area for Lightning Lakes, and as such can get a little busy on sunny days. Please ensure you arrive at the ceremony with plenty of time to get parked and walk over, and consider car-pooling from the resort to save space.
        </p>
    </div>
</div>

<div class="col questions-footer">
    <hr class="questions-hr">
  
    <h3>I've still got questions, who can I ask?</h3>
  
    <p>
        If you've still got questions that aren't answered here, please feel free to ask Brendan, or send him an <a href="mailto:me@brendanlens.ink">email</a> and ask away.
    </p>
</div>

<%- include('../templates/footer'); %>
