<%- include('../templates/header', {page: "questions"}); %> <%-
include('../templates/nav', {page: "questions"}); %>

<div class="row header-container">
    <img src="/img/rsvp-complete.jpg" class="header-img">
</div>

<div class="row">
    <h1>We can't wait to spend our special day with you!</h3><br>
</div>
<div class="row">
    <p>If you haven't yet, be sure to check out the <a href="./accomodations">accomodations</a> page for details on how to book acommodations, or some <a href="./details">more details</a> about the big day.</p>

</div>


<%- include('../templates/footer'); %>
