<%- include('../templates/header', {page: "venue"}); %> <%-
include('../templates/nav', {page: "venue"}); %>

<body>
  Venue information Booking hotels
</body>

<%- include('../templates/footer'); %>
