<%- include('../templates/header', {page: "venue"}); %> <%-
include('../templates/nav', {page: "venue"}); %>

<body>
  <div class="container venue-container">
    <div class="venue-section">
      <h2>Accomodations</h2>
      <p>
        Accomodations can be booked through the <a>Manning Park Resort site</a>.
        In addition to hotel rooms, there are cabins for larger groups, or camp
        sites for the adventurous.
      </p>
      <p>
        Given the remote location, we hope you all will be able to stay the
        night with up and get home safely the following day.
      </p>
    </div>

    <div class="venue-section">
      <h2>Day Of Schedule</h2>
      <p>8:00 - Thing</p>
      <p>8:00 - Thing</p>
      <p>8:00 - Thing</p>
      <p>8:00 - Thing</p>
      <p>8:00 - Thing</p>
      <p>8:00 - Thing</p>
    </div>

    <div class="venue-section">
      <h2></h2>
    </div>
  </div>
</body>

<%- include('../templates/footer'); %>
