<%- include('../templates/header', {page: "wedding-party"}); %> <%-
include('../templates/nav', {page: "wedding-party"}); %>

<div class="container">
  <div class="row">
    <h2>The Wedding Party</h2>
  </div>

  <div class="row party-row">
    <div class="col party-person">
        <img src="./img/party-keegan.jpg" alt="" class="party-person-img"/>
        <h4>Keegan Lensink</h4>
        <p class="party-title">Best Man</p>
        <span class="party-text">
          Keegan and I met through circumstance a couple years ago... no just kidding, he's my brother, how could you miss the resemblance? Apart from being a general pain in my ass during his highschool years, 
          Keegan's been a parner in crime for countless ski and golf adventures, and more than one "don't tell mom!" moment.
        </span>
    </div>

    <div class="col party-person">
      <img src="./img/party-railey.jpg" alt="" class="party-person-img"/>
      <h4>Railey Lloyd</h4>
      <p class="party-title">Maid of Honor</p>
      <span class="party-text">Railey AKA Circus Ringmaster AKA fabulous Maid of Honour AKA Brynn’s sister! Not only does she mean business when it comes to coordinating wedding festivities and flowers, but she’s also the fearless commander of our three nephews. To strike up a conversation with her simply ask her about her chickens, garden, or how many puzzles she’s conquered this year. </span>  
    </div>
  </div>

  <div class="row party-row">
    <div class="col party-person">
        <img src="./img/party-tony.jpg" alt="" class="party-person-img"/>
        <h4>Anthony Speranza</h4>
        <p class="party-title">Groomsman</p>
        <span class="party-text">Tony (or Anthony, I think most people call him Anthony but it sounds weird to me) and I went to high school together, but really became friends in university over our love of video games and football, and dislike of Physics 121. Now Brynn and I are the godparents to his son, he's a co-host of our podcast about a silly little fantasy football league, and a much better golfer than me (don't tell him though, he doesn't need the ego boost).</span>  
    </div>

    <div class="col party-person">
      <img src="./img/party-amy.jpg" alt="" class="party-person-img"/>
      <h4>Amy Speranza</h4>
      <p class="party-title">Officiant and Bridesmaid</p>
      <span class="party-text">Amy is the extraordinary force behind our ceremony and vows! Amy and Brendan have been friends since they were 3 and met in preschool, Brynn quickly stole Amy as her own and they have countless memories of good times together. With a heart as big as her dance moves, she’s the glue that holds our crazy crew together. </span>  
    </div>
  </div>

  <div class="row party-row">
    <div class="col party-person">
        <img src="./img/party-erik.jpg" alt="" class="party-person-img"/>
        <h4>Erik Searle</h4>
        <p class="party-title">Groomsman</p>
        <span class="party-text">Erik and I first met playing soccer, funnily enough on the same team with Kyle way back when, but first became friends through football and James. We drifted apart a little bit when I went away for university, but have since reconnected in a big way, I think partially due to him coming back to join the SSFL. Erik's a great enabler for all sorts of ridiculous things, like starting a podcast, or a website for that podcast, or skipping chemistry to go to Whopper Wednesday.
        </span>  
    </div>

    <div class="col party-person">
      <img src="./img/party-jess.jpg" alt="" class="party-person-img"/>
      <h4>Jess Chauhan</h4>
      <p class="party-title">Bridesmaid</p>
      <span class="party-text">Jess has been Brynn’s partner in mischief since the days of colouring outside the lines in kindergarten. Jess is a ray of sunshine in human form, and her joy is absolutely contagious and she’s always down for a cocktail. She’s not just a friend; she’s a forever friend.</span>  
    </div>
  </div>

  <div class="row party-row">
    <div class="col party-person">
        <img src="./img/party-james.jpg" alt="" class="party-person-img"/>
        <h4>James Giberson</h4>
        <p class="party-title">Groomsman</p>
        <span class="party-text">James and I first met in eighth grade - his house was on my route to school and he was out shovelling his driveway one day after a big snow and told us to turn around, school was cancelled for the day. It wasn't, but I didn't really want to go and that was good enough for me. Soon enough I was showing up every morning to watch the Weekenders and then have to speedwalk to first period. James' house was a constant on Sunday mornings, where his mom would make us Eggs Bennies and we'd watch football every week. Life's taken us on slightly different paths, but within 5 minutes of being back together, it's like nothing's changed.</span>  
    </div>

    <div class="col party-person">
      <img src="./img/party-hallie.jpg" alt="" class="party-person-img"/>
      <h4>Hallie Walker</h4>
      <p class="party-title">Bridesmaid</p>
      <span class="party-text">Hallie has been a treasured friend of Brynn since ninth grade when they bonded over RockBand, and their mutual hatred for their math teacher. She’s a loyal friend and confidante who always lends a listening ear and a shoulder to lean on. Hallie is the friend you call to help you hide the body, the friend who makes life’s journey a little brighter and a lot more interesting!</span>  
    </div>
  </div>

  <div class="row party-row">
    <div class="col party-person">
        <img src="./img/party-kyle.jpg" alt="" class="party-person-img"/>
        <h4>Kyle Weeres</h4>
        <p class="party-title">Groomsman</p>
        <span class="party-text">Kyle and I first met playing soccer in like 2003, then again in high school (there's a theme here), though I don't know if we really became close until university, where we bonded over our mutual loves of food, electronic music, and video games. Kyle's been a close confidant for many big points in my life and never afraid to tell me when I've been an idiot.
        </span>  
    </div>

    <div class="col party-person">
      <img src="./img/party-emmie.jpg" alt="" class="party-person-img"/>
      <h4>Emmie Page</h4>
      <p class="party-title">Bridesmaid</p>
      <span class="party-text">Emmie is our awesome sister-in-law. Brynn and Emmie found easy common ground in the delightful weirdness that comes with being part of the Lensink family. Emmie is a patient soul who finds joy in a good book and cup of coffee. Feel free to talk to her about fish. 
      </span>  
    </div>
  </div>
</div>

<%- include('../templates/footer'); %>
