<%- include('../templates/header', {page: "std"}); %>
<body>
  <div class="std-background"></div>
  <div class="std-container">
    <img
      class="std-image"
      src="/img/savethedate.png"
      alt="Save the date - August 4th 2024"
    />

    <h1 id="std-header">Manning Park Lodge</h1>
    <h2 id="std-subhead">August 4th, 2024</h2>

    <br>
    <p id="std-body">More details to come...</p>
  </div>
</body>
<%- include('../templates/footer'); %>
