<%- include('../templates/header', {page: "std"}); %>
<body>
  <div class="std-background"></div>
  <div class="std-container">
    <img
      class="std-image"
      src="/img/savethedate.png"
      alt="Save the date - August 4th 2024"
    />
  </div>
</body>
<%- include('../templates/footer'); %>
